<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p>
    <%= @restaurant.address %>
    <%= @restaurant.phone_number %>
    <%= @restaurant.category %>
  </p>
  <ul class="list-unstyled">
    <% @restaurant_reviews.each do |review| %>
      <li>
        <%= review.content %> |
        <% review.rating.times do %>
          <i class="fa fa-star yellow"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="fa fa-star gray"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back to restaurants', restaurants_path %>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>

<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
